<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/pet_space</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">true</property>

        <mapping class="com.pet_space.models.essences.StateFriend"/>
        <mapping class="com.pet_space.models.essences.StatusEssence"/>
        <mapping class="com.pet_space.models.essences.RoleEssence"/>
        <mapping class="com.pet_space.models.essences.Friends"/>
        <mapping class="com.pet_space.models.essences.UserEssence"/>
        <mapping class="com.pet_space.models.GenusPet"/>
        <mapping class="com.pet_space.models.Pet"/>
    </session-factory>
</hibernate-configuration>